body{
    background-color: aliceblue;
}
a{
 text-decoration: none;
    color: #d87093;
}
form{
    width: 300px;
    margin: 50px auto;
}
form .form-control{
    margin-bottom: 10px;
}

h1{
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: rgb(242, 247, 247);
    width: 300px;
    text-align: center;
    margin: 5px  auto;
    margin-top: 20px;
    padding: 5px;
}
h1:hover{
    background-color: transparent;
}
.alert-primary {
    margin: 20px;
}
.navbar{
    margin-bottom: 20px;
}